:root {
    --background: #C0E3E4;
    --font: #E6F4F1;
    --card: #1A393B;
}

body {
    background-color: var(--background);
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.wrapper {
    color: var(--font);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
}


.info {
    width: 100%;
    padding: 21px 60px;
    line-height: 1.5;
    box-sizing: border-box;
}

.text {
    background-color: var(--card);
    font-size: 15px;
}

.quote {
    font-family: 'Salsa', sans-serif;
    font-size: 20px;
}