:root {
    --background: #C0E3E4;
    --font: #E6F4F1;
    --card: #1A393B;
}

body {
    background-color: var(--background);
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 5px;
}

p {
    font-size: 11px;
}

.wrapper {
    color: var(--font);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: .4s;
}

.wrapper::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-top: 20px solid #FCFCD4;
    border-left: 20px solid #FCFCD4;
    box-sizing: border-box;
}

.wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-bottom: 20px solid #FCFCD4;
    border-right: 20px solid #FCFCD4;
    box-sizing: border-box;
}

.wrapper .text {
    background-color: var(--card);
    position: absolute;
    top: 30px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% -60px);
    transition: .4s;
}

.wrapper .text > div {
    width: 100%;
    padding: 21px 60px;
    line-height: 1.5;
    box-sizing: border-box;
}

.quote {
    font-family: 'Salsa', sans-serif;
    font-size: 20px;
}

.wrapper:hover {
    transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg);
}

.wrapper:hover .text{
    transform: rotateY(20deg) skewY(-3deg);
}
